@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Lora", sans-serif;
}

body{
   width: 100vw;
   height: 100vh;
   background-color: #00171f;
   color: #bce7fd;
}

.msg-container{
   height: 100vh;
   overflow: hidden;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap: 5vmin;
   transition: 5s all ease-in;
   
}
#msg{
   font-size: 5vmin;
   font-weight: 700;
   text-shadow: 1px 1px 2px #fff;
}
#new-game,#reset{
   font-size: 1rem;
   font-weight: 500;
   color: #bce7fd;
   background-color: #007ea7;
   padding: 1rem 2rem;
   border: none;
   border-radius: 1rem;
   box-shadow: 0 1px 1rem rgba(255,255,255,0.75);
   cursor: pointer;
}
#new-game:hover,#reset:hover{
   background-color: #007da7ea;
}
.hide{
   display: none;
}


.container{
   width: 100vw;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap: 10vmin;
}
h1{
   font-size: 8vmin;
   font-weight: 900;
   text-shadow: 1px 1px 5px #007ea7;
   text-transform: capitalize;
}
.game{
   width: 50vmin;
   height: 50vmin;
   display: flex;
   flex-wrap: wrap;
   gap: 2vmin;
}
.box{
   width: 15vmin;
   height: 15vmin;
   border: none;
   background-color: #bbd0ff;
   border-radius: 1rem;
   box-shadow: 0 0 1.5rem rgba(224, 170, 255, 0.788);
   font-size: 8vmin;
   color: #007ea7;
   font-weight: 600;
   cursor: pointer;
}
